/* 
    Created on : Feb 22, 2020, 2:39:34 PM
    Author     : Admin
*/
.parent{
    -fx-background-color: transparent;
}
.pane{
    -fx-background-color: #f0af4d; 
}
.trans-btn-white-border{
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
    -fx-border-color: #ffffff;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-text-fill: whitesmoke;
}
.white-pane{
    -fx-background-color: #ffffff;
}
.blue-panel{
    -fx-background-color: #9f7866;
}
.tf_box{
    -fx-background-color: transparent;
    -fx-border-color: #DEDEE4;
    -fx-border-width: 0px 0px 1px 0px;
}
.tf{
    -fx-background-color: transparent;    
}
.blue-btn{
    -fx-background-color: #f0af4d;
    -fx-background-radius: 5px;
    -fx-text-fill: #ffffff;
}

.wt-icon{
    -fx-background-color:#ffffff;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-color: #ffffff;
}

.primary-color{
    -fx-background-color:#f0af4d;
}

.Secondary-color{
    -fx-background-color:#eeeff1;

}

.button-profile{
    -fx-background-color:#9f7866;
    -fx-background-radius: 30;
}

.photo-profile{
    -fx-effect: dropshadow(three-pass-box, rgba(1,0,0,0.8), 10, 0, 0, 10);
}

.input-profile{ 
    -fx-background-color: transparent;
    -fx-border-color: #DEDEE4;
    -fx-border-width: 0px 0px 1px 0px;
}

.btn-profile{
    -fx-background-color: #04AA6D!important;
    -fx-border-radius: 5px;
    -fx-font-size: 17px;
    -fx-font-family: 'Source Sans Pro', sans-serif;
}

.transparent{
    -fx-background-color: rgba(0,0,0,0);
}

.round-layout{
    -fx-border-radius: 50;
    -fx-background-radius: 50;
    -fx-background-color: #f0f0f0;

}


